In [10]:
import pandas as pd
import numpy as np
##
revenue_growth_factor = 0.18
EBITDA_margin_rate = 0.45
tax_rate = - 0.21
capital_expenditures_rate = - 0.03
working_capital_increase_rate = - 0.06
EDBITA_exit_multiple = 32.7
discount_factor = 0.94
##
index = pd.date_range('2021', periods=12, freq='Y')
index
##
df = pd.DataFrame(index = index, columns = ['revenue'])
df['revenue'][0] = 222
df
##
for i in range(1, len(df)):
 df['revenue'][i] = df['revenue'][0] * (1 + revenue_growth_factor) ** (i)
df

##
df['EBITDA'] = df.revenue * EBITDA_margin_rate
df
##
df['tax'] = df['EBITDA'] * tax_rate
df
##
df['capital_expenditures'] = df['revenue'] * capital_expenditures_rate
df
##
df['working_capital'] = df['revenue'] * working_capital_increase_rate
df
##
df['cash_flow'] = df['EBITDA'] + df['tax'] + df['capital_expenditures']
df
##
df['discount_factor'] = [(discount_factor ** i) for i in range(len(df))]
df
##
df['present_value_fcf'] = df['cash_flow'] * df['discount_factor']
df

,revenue,EBITDA,tax,capital_expenditures,working_capital,cash_flow,discount_factor,present_value_fcf
2021-12-31,222,99.9,-20.979,-6.66,-13.32,72.261,1.000000,72.261
2022-12-31,261.96,117.882,-24.75522,-7.8588,-15.7176,85.26798,0.940000,80.151901
2023-12-31,309.1128,139.10076,-29.21116,-9.273384,-18.546768,100.616216,0.883600,88.904489
2024-12-31,364.753104,164.138897,-34.469168,-10.942593,-21.885186,118.727135,0.830584,98.612859
2025-12-31,430.408663,193.683898,-40.673619,-12.91226,-25.82452,140.09802,0.780749,109.381383
2026-12-31,507.882222,228.547,-47.99487,-15.236467,-30.472933,165.315663,0.733904,121.32583
2027-12-31,599.301022,269.68546,-56.633947,-17.979031,-35.958061,195.072483,0.689870,134.574611
2028-12-31,707.175206,318.228843,-66.828057,-21.215256,-42.430512,230.18553,0.648478,149.270158
2029-12-31,834.466743,375.510034,-78.857107,-25.034002,-50.068005,271.618925,0.609569,165.57046
2030-12-31,984.670757,443.101841,-93.051387,-29.540123,-59.080245,320.510331,0.572995,183.650754
2031-12-31,1161.911493,522.860172,-109.800636,-34.857345,-69.71469,378.202191,0.538615,203.705416
2032-12-31,1371.055562,616.975003,-129.564751,-41.131667,-82.263334,446.278585,0.506298,225.950048

In [11]:
df.present_value_fcf[1:-1]

2022-12-31     80.151901
2023-12-31     88.904489
2024-12-31     98.612859
2025-12-31    109.381383
2026-12-31     121.32583
2027-12-31    134.574611
2028-12-31    149.270158
2029-12-31     165.57046
2030-12-31    183.650754
2031-12-31    203.705416
Freq: A-DEC, Name: present_value_fcf, dtype: object

In [12]:
present_value_of_projected_fcf = df.present_value_fcf[1:-1].sum()
present_value_of_projected_fcf

1335.1478615709623

In [13]:
df.EBITDA[-1]

616.9750027528825

In [14]:
terminal_value = EDBITA_exit_multiple * df.EBITDA[-1]
terminal_value

20175.082590019258

In [15]:
df.discount_factor['2031']

2031-12-31    0.538615
Freq: A-DEC, Name: discount_factor, dtype: float64

In [16]:
present_value_of_terminal_value = terminal_value * df.discount_factor[-2]
present_value_of_terminal_value

10866.60441109724

In [17]:
present_value_of_asset = present_value_of_projected_fcf + present_value_of_terminal_value
present_value_of_asset

12201.752272668202

In [ ]:
statement = f"""
Our projected Present Value of Projected Future Cash Flows are: {present_valu
We are providing revenue guidance in 2032 to be: {df.loc["2032", "revenue"].v
With an estimated EBITDA around: {df.loc["2032", "EBITDA"][0]:.2f}.
The terminal value a this time given a multiple of {EDBITA_exit_multiple:.2f}
"""
print(statement)